@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    max-width: 100%;
    height: auto;
    shape-margin: 0.5rem;
    font-size: italic;
    display: block;
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .background-main {
    background: linear-gradient(298deg, #000 0.63%, #6e33bf 189.88%);
  }

  .background-login {
    border-radius: 12px;
    background: linear-gradient(
      91deg,
      #6e33bf 9.91%,
      #41208b 53.29%,
      #2c1e59 91.56%
    );
  }

  .background-form {
    border-radius: 30px;
    border: 1px solid rgb(122, 121, 121);
    background: rgba(33, 12, 82, 0.13);
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);
  }

  .height {
    height: calc(100vh - 120px);
  }

  .message {
    box-shadow: 0px 5px 16px 0px #080f342e;
    border-radius: 10px 10px 10px 0px;
  }

  .box {
    box-shadow: 0px 4px 48px 0px #00000040;
  }

  .box2 {
    box-shadow: 13px 12px 21px 10px #00000040, 0px 4px 4px 0px #00000040;
  }

  .box3 {
    box-shadow: 0px 3.812619686126709px 3.050095796585083px 6.862716197967529px
        #0f4e5230,
      0px 3.050095796585083px 3.050095796585083px 0px #00000040;
  }

  .animation-pulse {
    animation: pulse 2s infinite;
  }
  .dashicon {
    @apply flex flex-col justify-start items-start gap-1 w-full rounded-lg text-white px-3 py-1 text-base font-medium whitespace-nowrap;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgb(62, 176, 229);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 60px rgba(229, 62, 62, 0);
  }

  100% {
    transform: scale(0.8);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e33bf;
  border-radius: 20px; /* Color of the scrollbar handle */
}
